<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

</head>
<body>
<nav th:fragment="navbar" class="main-nav">
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li sec:authorize="!isAuthenticated()">
            <a href="/login">Login</a>
        </li>
        <li sec:authorize="!isAuthenticated()">
            <a href="/register">Register</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
        <li sec:authorize="isAuthenticated()">
            <a href="/story/add">Add new wedding</a>
        </li>
        <li sec:authorize="isAuthenticated()">
            <a href="/user/profile">Profile</a>
        </li>
        <li sec:authorize="hasRole('ADMIN')">
            <a href="/admin">Admin</a>
        </li>
        <li sec:authorize="isAuthenticated()">
            <div>
                <form th:method="post"
                th:action="@{/logout}">
                    <button type="submit">LOGOUT</button>
                </form>
            </div>

        </li>
    </ul>
</nav>
</body>
</html>