<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

</head>
<body>
<nav th:fragment="navbar" class="main-nav">
    <ul>
        <li th:if="${@loggedUser.getId() > 0}">
            <a href="/"> <th:block th:text="${@loggedUser.getUsername()}"></th:block>'s Home</a>
        </li>
        <li th:unless="${@loggedUser.getId() > 0}">
            <a href="/">Home</a>
        </li>
        <li th:unless="${@loggedUser.getId() > 0}">
            <a href="/login">Login</a>
        </li>
        <li th:unless="${@loggedUser.getId() > 0}">
            <a href="/register">Register</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
        <li th:if="${@loggedUser.getId() > 0}">
            <a href="/add">Add new wedding</a>
        </li>
        <li th:if="${@loggedUser.getId() > 0}">
            <a href="/">Profile</a>
        </li>
        <li th:if="${@loggedUser.getId() > 0}">
            <a href="/">Admin</a>
        </li>
        <li th:if="${@loggedUser.getId() > 0}">
            <div>
                <a href="/logout">Logout</a>
            </div>

        </li>
    </ul>
</nav>
</body>
</html>