<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}">

</head>
<body>
<div class="wrapper">
    <!-- Navigation -->
    <header>
        <nav th:replace="~{fragments/navbar}"></nav>
    </header>

    <div class="info">
        <div></div>
        <div>
            <h4>About us</h4>
            With the support of these generous brides we have been able to provide you information
            throughout this wedding site to help you with your wedding planning and wedding celebrations
            learning from others' experiences.
        </div>
        <div></div>
    </div>

</div>
<!-- Wrapper Ends -->
</body>
<footer th:replace="~{fragments/footer}"></footer>
</html>