<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head}">

</head>
<body>
<div class="wrapper">

    <header>
        <nav th:replace="~{fragments/navbar}"></nav>
</header>

    <section class="top-container">

        <div class="showcase">
            <h1>Find real life wedding stories and share your own amazing story! </h1>
            <p>Read about real weddings and take ideas how to organise yours!</p>
            <a th:href="@{/stories/all}" class="btn">See all weddings</a>
        </div>

    </section>

    <section class="boxes">
        <a th:href="@{/stories/traditional}" class="main-btn" >
            <div class="box">
                <img src="/images/traditionalwedding.png" height="150px" alt="">
                <h3>Traditional</h3>
                <p>Classic wedding filled with traditional style, customs, and rituals</p>
            </div>
        </a>
        <a th:href="@{/stories/modern}" class="main-btn" >
            <div class="box">
                <img src="/images/modernwedding64.png" height="150px" alt="">
                <h3>Modern</h3>
                <p>Modern weddings are a great option for brides and grooms who crave all things contemporary and current.</p>
            </div>
        </a>
        <a th:href="@{/stories/vintage}" class="main-btn" >
            <div class="box">
                <img src="/images/vintagewedding.png" height="150px" alt="">
                <h3>Vintage</h3>
                <p>For brides who are old souls and antique shop regulars.</p>
            </div>
        </a>
        <a th:href="@{/stories/rustic}" class="main-btn" >
            <div class="box">
                <img src="/images/rusticwedding.png" height="150px" alt="">
                <h3>Rustic</h3>
                <p>A rustic wedding is a wedding that incorporates country and vintage ideas into the ceremony and reception.</p>
            </div>
        </a>
    </section>

    <section class="road">
        <img th:src="${mostCommented.pictures[0].getUrl()}" alt="">
        <div>
            <h2>The most commented wedding: <th:block th:text="${mostCommented.getTitle()}"></th:block></h2>
            <p>Read more about the most commented wedding and give your opinion to help other users.</p>
            <a th:href="@{/stories/details/{id}(id = ${mostCommented.getId()})}" class="btn">Read More</a>
        </div>
    </section>

    <section class="boxes">
        <a th:href="@{/stories/indoor}" class="main-btn" >
            <div class="box">
                <img src="/images/indoor.jpg" height="150px" alt="">
                <h3>Indoor Weddings</h3>
                <p>Getting married in a ballroom, banquet hall, hotel, church, or another type of indoor event space.</p>
            </div>
        </a>
        <a th:href="@{/stories/beach}" class="main-btn" >
            <div class="box">
                <img src="/images/beach.jpg" height="150px" alt="">
                <h3>Beach Weddings</h3>
                <p>Discover the latest beach wedding stories to getting married oceanside.</p>
            </div>
        </a>
        <a th:href="@{/stories/garden}" class="main-btn" >
            <div class="box">
                <img src="/images/couple.jpg" height="150px" alt="">
                <h3>Garden Weddings</h3>
                <p>Get married at a botanical garden, at a vineyard, a backyard, an estate or mansion, or in a city park.</p>
            </div>
        </a>
    </section>


    <!-- Portfolio -->
<!--    <section class="gallery">-->
<!--        <img src="http://res.cloudinary.com/ch-cloud/image/upload/v1630583467/koncyanx4gqwzt9vxgx4.jpg" width="200px" height="200px" alt="">-->
<!--        <img src="http://res.cloudinary.com/ch-cloud/image/upload/v1630582448/oowojgn4lagybkvv20jb.jpg" width="200px" height="200px" alt="">-->
<!--    </section>-->

    <!-- <script th:src="@{/js/weather.js}"></script> -->
</div>

<footer th:replace="~{fragments/footer}"></footer>

</body>

</html>
