<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}">
<body>
<header>
    <nav th:replace="~{fragments/navbar}"></nav>
</header>
<main class="p-5 align-content-center bg-blur my-register-div">
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-7">
                <div th:object="${userProfileDTO}" class="profile-card p-3 py-4">
                    <div class="text-center mt-3">
                        <h5 class="mt-4 mb-0">First name</h5>
                        <span th:text="*{firstName}"></span>
                        <h5 class="mt-4 mb-0">Last name</h5>
                        <span th:text="*{lastName}"></span>
                        <h5 class="mt-2 mb-0">Username</h5>
                        <span th:text="*{username}"></span>
                        <h5 class="mt-2 mb-0">Email</h5>
                        <span th:text="*{email}"></span>

                        <div class="buttons">
                            <button onclick="history.back()" class="btn btn-outline-primary px-4">Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
<footer th:replace="~{fragments/footer}"></footer>
</html>
