<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}">
<body>
<div>
    <header>
        <nav th:replace="~{fragments/navbar}"></nav>
    </header>

        <section class="route-info text-center">
            <h4 id="track-name"></h4>
            <p>Title: <span th:text="${story.getTitle()}" ></span></p>
            <p>Author name: <span th:text="${story.getAuthor().getUsername()}" ></span></p>
            <p>Wedding style: <span th:text="${story.getStyle().getName()}" ></span></p>
            <p>Location: <span th:text="${story.getLocation().getName()}"></span></p>
        </section>
        <section class="route-description text-center">
            <h4>Full story:</h4>
            <p th:text="${story.getContent()}" id="route-description">Full story </p>
        </section>
        <section th:each="picture : ${story.getPictures()}" class="gallery">
            <img class="rounded" th:src="${picture.getUrl()}" height="100%" alt="">
        </section>
        <section class="comments">
            <h1>Comments</h1>

            <div>
                <!-- Comments submission -->
                <form id="commentForm" method="POST"
                      action="/">
                    <div class="form-group">
                        <h4>Leave a comment</h4>
                        <label for="message">Message</label>
                        <textarea name="message"
                                  id="message"
                                  cols="30"
                                  rows="5"
                                  class="form-control"
                                  style="background-color: white;"></textarea>
                        <small id="messageError" class="invalid-feedback">
                            Message should be at least 10 characters.
                        </small>
                    </div>

                    <div class="form-group">
                        <input type="submit"
                               class="btn"
                               id="postComment"
                               value="Post Comment"/>
                    </div>
                </form>
                <!-- Comments submission -->
            </div>

            <!-- All comments section -->
            <div>

                <span id="commentCtnr"><!-- Comments section, filled in by script --></span>
            </div>
            <!-- EO: All comments section -->
        </section>
	<!-- Scripts: track and comments
    <script th:src="@{/js/track.js}"></script>
    <script th:src="@{/js/comments.js}"></script>
	-->
</div>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
